{% extends "game/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
        </div>
      </div>
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Statystyki Info</legend>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">  {{ request.user.Resources.stat_str }}</li>
            <li class="list-group-item list-group-item-light"></li>
            <li class="list-group-item list-group-item-light"></li>
            <li class="list-group-item list-group-item-light"></li>
          </ul>
        </fieldset>
    </div>
{% endblock content %}
